﻿@model BlackJack.ViewModels.Views.GameViews.CurrentGameGameView

<div class="row">
    <div class=" col-md-12">
        <table class="table" border="1">
            <caption>Game End</caption>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>State</th>
                <th>Cards</th>
                <th>Points</th>
                <th>Total points</th>
            </tr>
            <tr></tr>
            <tr></tr>
            @foreach (var item in Model.Players)
            {
                <tr>
                    <td>@item.Name</td>
                    @if (item.Role == BlackJack.ViewModels.Enums.PlayerRoleEnumView.Dealer)
                    {
                        <td colspan="2">@item.Role</td>
                    }
                    @if (item.Role != BlackJack.ViewModels.Enums.PlayerRoleEnumView.Dealer)
                    {
                        <td>@item.Role</td>
                    }

                    @if (item.Role != BlackJack.ViewModels.Enums.PlayerRoleEnumView.Dealer)
                    {
                        <td>@item.State</td>
                    }
                    <td>
                        <table align="center">
                            @foreach (var card in item.Cards)
                            {
                                <tr>
                                    <td>@card.Value  @card.Suit</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td>
                        <table align="center">
                            @foreach (var card in item.Cards)
                            {
                                <tr>
                                    <td>@card.Points</td>
                                </tr>
                            }
                        </table>
                    </td>

                    <td>@item.TotalPoints</td>
                </tr>
                <tr></tr>
                <tr></tr>
            }

        </table>
    </div>
    <div class="col-md-4 col-md-push-1">
        @using (Html.BeginForm("StartGame", "Game"))
        {
            <button id="kendoButtonNewGame" type="submit">New Game</button>
        }
    </div>
    <div class="col-md-4 col-md-push-5">

        @using (Html.BeginForm("GetAllGames", "History", FormMethod.Get))
        {
            <button id="kendoButtonHistory" type="submit">History</button>
        }
    </div>

</div>


@Scripts.Render("~/bundles/endGame")

