﻿@model BlackJack.ViewModels.Views.GameViews.CurrentGameGameView
@using BlackJack.BusinessLogic.Enums
<div class="row">
    <div class=" col-md-12">
        <table class="table" border="1">
            <caption>Current Game</caption>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Cards</th>
                <th>Points</th>
                <th>Total points</th>
            </tr>
            <tr></tr>
            <tr></tr>
            @foreach (var item in Model.Players)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Role</td>

                    <td>
                        <table align="center">
                            @foreach (var card in item.Cards)
                            {
                                <tr>
                                    <td>@card.Value  @card.Suit</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td>
                        <table align="center">
                            @foreach (var card in item.Cards)
                            {
                                <tr>
                                    <td>@card.Points</td>
                                </tr>
                            }
                        </table>
                    </td>

                    <td>@item.TotalPoints</td>
                </tr>
                <tr></tr>
                <tr></tr>
            }
        </table>
    </div>

    <div class="col-md-4 col-md-push-2">

        @using (Ajax.BeginForm("CurrentGame", new AjaxOptions { UpdateTargetId = "currentGame", OnSuccess = "OnSuccess", HttpMethod = "Post" }))
        {

            @Html.Hidden("id", Model.GameId);
            GetActionInGame param = GetActionInGame.NextRound;
            @Html.Hidden("param", param);
            <button id="kendoButtonTake" type="submit">Take</button>
        }
    </div>

    <div class="col-md-4 col-md-push-5">

        @using (Html.BeginForm("CurrentGame", "Game", FormMethod.Post))
        {
            @Html.Hidden("id", Model.GameId);
            GetActionInGame param = GetActionInGame.DealerTakes;
            @Html.Hidden("param", param);
            <button id="kendoButtonEnought" type="submit">Enought</button>
        }
    </div>
</div>

@Scripts.Render("~/bundles/currentGame")


