﻿@model BlackJack.ViewModels.Views.GameViews.StartGameGameView

<div class="parent">
    @using (Html.BeginForm("CreateGame", "Game", FormMethod.Post))
    {
        <div class="row">
            <h4>Enter Player</h4>
            <input id="kendoComboBox" name="Name" />
        </div>

        <div class="row">
            <br />
            <h4>Enter Quantity</h4>
            <input id="kendoDropDown" name="Amount" />
        </div>

        <div class="row">
            <br />
            <button id="kendoButton" type="submit">Execute</button>
        </div>
    }
</div>

<script>
        var data= JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Names)'.replace(/&quot;/g, "\""));
</script>

@Scripts.Render("~/bundles/startGame")

