﻿<div class="navbar navbar-inverse navbar-fixed-top"role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse ">
            <ul style="text-align:center" class="nav navbar-nav">
                <li><a class="nav-link" routerLink="/startGame">Start</a></li>
                <li><a class="nav-link" routerLink="/getAllGames">History</a></li>
            </ul>
        </div>
    </div>
</div>