﻿.parent {
    margin-top: 100px;
}

#main {
    border: 2px;
    border-width: 1px;
    width: 1050px;
    height: 300px;
    margin: auto;
    text-align: center;
    align-content: center;
}

tr {
    font-size: medium;
}

caption {
    text-align: center;
    font-size: xx-large;
}

th {
    text-align: center;
    font: large;
}

button {
    font-size: medium;
    width: 120px;
    height: 40px;
}
