﻿<div class="parent">
    <table id="main" class="table table-bordered table-hover" border="1">
        <caption *ngIf="!isDealerTake">Current Game</caption>
        <caption *ngIf="isDealerTake">Game End</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th *ngIf="isDealerTake">State</th>
                <th>Cards</th>
                <th>Points</th>
                <th>Total points</th>
            </tr>
        </thead>
        <tr *ngFor="let player of currentGame.players">
            <td>{{(player.name)}}</td>
            <td *ngIf="player.role!=2 && isDealerTake"> {{conversion.getPlayerRole(player.role)}}</td>
            <td *ngIf="player.role!=2 && isDealerTake"> {{conversion.getPlayerState(player.state)}}</td>
            <td *ngIf="player.role==2 && isDealerTake" colspan="2">{{conversion.getPlayerRole(player.role)}}</td>
            <td *ngIf="!isDealerTake">{{conversion.getPlayerRole(player.role)}}</td>
            <td>
                <table align="center">
                    <tr *ngFor="let card of player.cards">
                        <td>{{conversion.getCardValue(card.value)}}  {{conversion.getCardSuit(card.suit)}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="center">
                    <tr *ngFor="let card of player.cards">
                        <td>{{card.points}}</td>
                    </tr>
                </table>
            </td>
            <td>{{player.totalPoints}}</td>
        </tr>
    </table>


    <div class="row">
        <br />
        <br />
        <div class="col-md-4 col-md-push-3" *ngIf="!isDealerTake">
            <button id="kendoButtonTake" kendoButton (click)="getRound(1)">Take</button>
        </div>
        <div class="col-md-4 col-md-push-4" *ngIf="!isDealerTake">
            <button id="kendoButtonEnought" kendoButton (click)="getGameEnd()">Enought</button>
        </div>

        <div class="col-md-4 col-md-push-3" *ngIf="isDealerTake">
            <button id="kendoButtonNewGame" kendoButton (click)="onClickToNewGame()">New Game</button>
        </div>
        <div class="col-md-4 col-md-push-4" *ngIf="isDealerTake">
            <button id="kendoButtonHistory" kendoButton (click)="onClickToHistory()">History</button>
        </div>

    </div>

</div>


