﻿@model  BlackJack.ViewModels.Views.HistoryViews.GetAllGamesHistoryView

<div id="grid">
    <h2>History</h2>
</div>

<script>
     var data = JSON.parse('@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Games)'.replace(/&quot;/g, "\""));
</script>

@Scripts.Render("~/bundles/getallgames")

