﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-nav {
    float: none;
    text-align: center;
}

    .navbar-nav li {
        float: none;
        display: inline-block;
    }

#grid {
    height: 600px;
    width: 1000px;
    margin: auto;
    font-size: medium;
    text-align: center;
}
#grid .k-grid-header .k-header {
    text-align:center;
}

.parent {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.table {
    border-width: 1px;
    align-content: center;
    text-align: center;
}

caption {
    text-align: center;
    font-size: xx-large;
}

th {
    text-align: center;
    font: large;
}


#kendoButtonBack {
    font-size: x-large;
    background-color: cadetblue;
    width: 300px;
    height: 40px;
    text-align:center;
}

#kendoButton {
    background-color:Highlight;
    width: 170px;
    height: 40px;
}


#kendoButtonTake {
    background-color: green;
    width: 100px;
    height: 40px;
}

#kendoButtonEnought {
    background-color: red;
    width: 100px;
    height: 40px;
}

#kendoButtonHistory {
    background-color: cornflowerblue;
    width: 200px;
    height: 40px;
}

#kendoButtonNewGame {
    background-color: seagreen;
    width: 200px;
    height: 40px;
}

#take, #enought {
    text-align: center;
}

#start {
    text-align: center;
}
