﻿
<div class="parent">
    <div class="row">
        <h4>Enter Player</h4>
        <kendo-combobox [data]="players.names" [(ngModel)]="data.name"></kendo-combobox>
    </div>

    <div class=" row">
        <br />
        <h4>Enter Quantity</h4>
        <kendo-dropdownlist [data]="quantityBots" [(ngModel)]="data.amount"></kendo-dropdownlist>
    </div>

    <div class="row">
        <br />
        <button kendoButton (click)="onClick()">Execute</button>
    </div>
</div>
