﻿button {
    width: 175px;
    height: 40px;
    font-size: large;
}

.parent {
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
}

h4 {
    font-size: x-large;
}
