﻿<div class="parent">
    <h2>History</h2>
    <kendo-grid id="main" detect-scroll [data]="data.games">

        <kendo-grid-column field="gameId" title="Game" width="200">
        </kendo-grid-column>

        <kendo-grid-column field="date" title="Date" width="200">
        </kendo-grid-column>

        <kendo-grid-column width="200" title="Details">
            <ng-template kendoGridCellTemplate let-dataItem>
                <button kendoButton (click)="onClick(dataItem.gameId)">Open</button>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
</div>

