﻿<div class="parent">
    <table id="main"  class="table table-bordered table-hover" border="1">
        <caption>Details Game #{{details.gameId}}</caption>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>State</th>
            <th>Cards</th>
            <th>Points</th>
            <th>Total points</th>
        </tr>
        <tr *ngFor="let player of details.players">
            <td>{{player.name}}</td>
            <td *ngIf="player.role!=2"> {{conversion.getPlayerRole(player.role)}}</td>
            <td *ngIf="player.role!=2"> {{conversion.getPlayerState(player.state)}}</td>
            <td *ngIf="player.role==2" colspan="2">{{conversion.getPlayerRole(player.role)}}</td>

            <td>
                <table align="center">
                    <tr *ngFor="let card of player.cards">
                        <td>{{conversion.getCardValue(card.value)}}  {{conversion.getCardSuit(card.suit)}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table align="center">
                    <tr *ngFor="let card of player.cards">
                        <td>{{card.points}}</td>
                    </tr>
                </table>
            </td>
            <td>{{player.totalPoints}}</td>
        </tr>
    </table>
    <div class="row">
        <br />
        <br />
        <div class="col-md-4 col-md-push-5">
            <button id="kendoButtonBack" kendoButton (click)="onClickToBack()">Back</button>
        </div>
    </div>
</div>
